@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply scroll-smooth;
    }
  }

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424]  rounded-full uppercase text-xs tracking-widest transition-all text-gray-500 hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
    }

    .contactInput {
      @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all hover:border-[#F7AB0A]/40 focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40;
    }

    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .login-modal {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    .card {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f5f5f5;
      border-radius: 8px;
      padding: 2rem;
      
      
    }
}